/*
=====================================================================
VARIABLES
=====================================================================
*/
//colors
$primary: #d3135a;

$light-grey: #e6e6e6;
$medium-grey: #cccccc;
$dark-grey: #666666;
$darkest-grey: #4d4d4d;

$black: #000;
$white: #fff;

//text colors
$text-primary: #4d4d4d;
$link-blue: #0071bc;
