<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                {% for i in range(0, 6) -%}
                <li class="footer__nav-item">
                    <a href="" class="footer__nav-link">menu link </a>
                </li>
                {%- endfor %}
            </ul>
        </nav>
        <div class="footer__text">Nullam mattis luctus dolor, sed gravida tellus volutpat vel. Maecenas mollis augue sed tortor molestie ornare. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque urna est, sit amet aliquet sapien accumsan quis. Nullam luctus semper vulputate. Nulla egestas urna nec tellus ultrices elementum. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque</div>
        <div class="footer__logo-wrap">
            <a href="" class="footer__logo-link">
                <img class="footer__logo" src="./img/logo-white@2x.png" alt="">
            </a>
        </div>
    </div>
</footer>
